<div class="row justify-content-center h-100">
    <div class="col-md-4 text-center h-100 row">
        <div class="border w-100 button-wrapper row rounded">
            <a href="https://t.me/testkoolbarbot?start=web" class="border m-auto btn btn-lg btn-custom">ارسال درخواست</a>
        </div>
    </div>
</div>
@section Styles {

    <style>
        @@font-face {
            font-family: 'byekan';
            src: url('fonts\byekan.eot') format('embedded-opentype');
        }

        body {
            background-color: #141526;
            
        }

        div, label {
            color: #fff
        }

        a{
            font-family: 'byekan' !important
        }

        main {
            height: 100%
        }

        /* input[type='text'], input[type='date'],select {
                                                    height: 3.5rem !important
                                                } */

        textarea {
            min-height: 15rem !important
        }

        label {
            margin-bottom: .4rem
        }

        .form-group {
            margin-bottom: 1rem
        }

        .border {
            border: 2px #26c5dd solid !important;
            color: #26c5dd;
        }

        .button-wrapper {
            min-height: 300px;
            margin: auto 0
        }

        .btn-custom:hover {
            background-image: linear-gradient(rgba(20, 21, 38, .95), rgba(20, 21, 38, .95)), linear-gradient(to bottom, #2de5d1, #1fa4e9);
        }
    </style>
}

@section Scripts {
    <script>
        $(document).ready(() => {
            $('.container').height($('body').height() - $('header').height() - $('footer').height() - 2)
        })
    </script>
}